_x.hw.xilinx_u280_xdma_201920_3/
build_dir.hw.xilinx_u280_xdma_201920_3/
*build_dir.hw.xilinx_u280_xdma_201920_3/
packaged_kernel_*/
tmp_kernel_pack_*/
packaged_kernel_network_krnl_hw_xilinx_u280_xdma_201920_3/
tmp_kernel_pack_network_krnl_hw_xilinx_u280_xdma_201920_3/
tmp_kernel_pack_user_krnl_hw_xilinx_u280_xdma_201920_3/
packaged_kernel_user_krnl_hw_xilinx_u280_xdma_201920_3/
.ipcache/
sample_link.ini
network_types.svh
#package_*_krnl.tcl
post_sys_link.tcl
build/
builds_old/
build_old/
bstreams/
iprepo/
tmp/
hd_visual/
ip_dir/
xsim.dir/
tb_user/
ip/
.Xil/
.vscode/
*.pb
*.log
*.tmp
*.jou
*.str
#*.xml
*.config
*.zip
!network_krnl.xml
!user_krnl.xml
host/host
hw_log
hw
_x/
host/host_hls_recv_krnl
host/host_hls_sendback_sing_conn_krnl
bitstreams
host/hls_recv_send_krnl2/
kernel/user_krnl/hls_recv_send_krnl2/
network.xclbin.run_summary
profile_summary.csv
timeline_trace.csv
*build_dir.hw.xilinx_u280_xdma_201920_3
